.navbar {
    background-color: darkslategray;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbarde {
    background-color: black;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar-element {
    margin-left: 20px;
    margin-right: 10px;
    color: black;
}

.navbarproduct {
    background-color: black;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}