   
  
  .App-logo {
    height: 20vmin;
    pointer-events: none;
  }

  
  .App-link {
    color: #61dafb;
  }
  
  
  .inputBuscar{
    width: 75% !important;
  }
  
  @media (max-width: 988px){
    
  
    .App{
      padding: 405px 5px;
    }
  
    
  .containerInput{
    padding-bottom: 50px;
  }
  
 .caja{
     align-items: flex-start;
     flex-direction: row;
 }
}